<nav class="navbar navbar-dark bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="/items">MonShop</a>
    <form class="d-flex">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
    <%= button_to 'Logout', user_logout_path(current_user), method: :delete, class: 'btn btn-outline-light' %>
  </div>
</nav>
<h1>Ubah Item</h1>

<%= render "form", item: @item %>

<br>

<div>
  <%= link_to "Lihat Item", @item, class: 'btn btn-info' %> |
  <%= link_to "Kembali", items_path, class: 'btn btn-info' %>
</div>